@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  --purple: #6070ff;
  --mainFont: "Poppins", sans-serif;

  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: var(--mainFont);
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
  margin: 0 auto;
}

header p,
nav {
  font-size: 2rem;
  color: var(--purple);
}

header p {
  font-weight: 700;
  margin-left: 114px;
}

.fa-solid {
  margin-left: 400px;
}

.hero {
  background-image: url("./img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 63.5rem;
  width: 43rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0.5px;
}

.hero-text p {
  font-size: 2rem;
  line-height: 30px;
  font-weight: 300;
  margin-top: 5px;
  color: #344563;
}

.container {
  margin: 0 auto;
}

.hero-text h1 {
  text-align: left;
  color: #172b4d;
}

.hero-text span {
  color: var(--purple);
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: var(--purple);
}

.social-media {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 2.5rem;
}

.social-media li img {
  height: 20px;
}

.cards-container {
  background-color: #e5e5e5;
  padding: 11rem 1.5rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 12rem;
  width: 100%;
}

.card {
  background-color: white;
  padding: 2.5rem 1.5rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
}

.card-image {
  width: 100%;
}

.card h2 {
  color: var(--black);
  font-size: 3.2rem;
  margin: 1rem 0;
}

.tags {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.bullet {
  width: 6px;
}

.tags p {
  color: var(--black);
  font-weight: 700;
}

.tags span {
  color: #7a869a;
}

.description {
  color: #344563;
  font-size: 1.6rem;
}

.technologies {
  list-style: none;
  padding-left: 0;
  gap: 1rem;
}

.technologies li {
  background-color: #ebebff;
  padding: 0.8rem;
  color: #6070ff;
  border-radius: 8px;
  font-size: 1.2rem;
  float: left;
  text-align: center;
  margin: 0.2rem;
}

.card button {
  color: #396df2;
  border: 2px solid #396df2;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  flex: none;
}

.about-content button {
  color: #396df2;
  border: 2px solid #396df2;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 2rem;
}

.card button:hover {
  color: #fff;
  background: #6070ff;
  border-radius: 8px;
}

.card button:active {
  color: #fff;
  background: #2230d2;
  border-radius: 8px;
}

.card button:disabled {
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  color: #5e6c84;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about {
  background-color: #e5e5e5;
}

.about-content {
  background-color: white;
  border-radius: 0 80px 0 0;
  padding: 11rem 1rem;
}

.about-content h2 {
  margin-top: 0;
  color: var(--black);
  font-size: 4rem;
}

.about-content p {
  color: #344563;
  font-size: 1.7rem;
}

.about-content span {
  color: var(--purple);
  font-size: 2rem;
}

.languages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}

.languages h3 {
  font-size: 2rem;
}

.language {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #f7f7f9;
  border-radius: 10px;
  margin-bottom: 1.3rem;
}

.language-img {
  height: 50px;
}

.contact {
  border: 2px solid #fff;
  border-top-left-radius: 75px;
  color: white;
  background-color: #6070ff;
  background-image: url("./img/contact_form_desktop.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  left: 328px;
  width: 100%;
  grid-column: 1/-1;
  justify-content: center;
  background-position: left center;
  background-size: contain;
}

.contact-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.contact-h1 {
  margin-top: 103px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
}

.contact-text p {
  width: 327px;
  height: 102px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  gap: 1.3rem;
}

.form-fieldset {
  padding: 45px;
}

.form fieldset input,
textarea {
  height: 48px;
  width: 327px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b778c;
  padding: 15px 16px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.form fieldset textarea {
  width: 327px;
  height: 170px;
}

.form fieldset {
  border: 0;
}

textarea:focus .form fieldset input {
  outline: none;
}

.button {
  padding: 12px;
  gap: 10px;
  width: auto;
  height: auto;
  bottom: 8px;
  border-radius: 4px;
  color: #6070ff;
  background: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.03em;
  border: 0;
  align-self: flex-start;
  margin: inherit;
  margin-top: -55px;
}

.button:hover {
  color: #fff;
  background: #6070ff;
  border-radius: 8px;
}

.button:active {
  color: #fff;
  background: #2230d2;
  border-radius: 8px;
}

.button:disabled {
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  color: #5e6c84;
  flex: none;
  order: 0;
  flex-grow: 0;
}

@media screen and (min-width: 426px) {
  header i {
    visibility: hidden;
  }

  header #sections a {
    color: #344563;
    padding: 6px;
    display: table-cell;
  }

  .hero {
    background-image: url("./img/header-desktop.png");
    width: 144rem;
  }

  .hero h1 {
    width: 920px;
    height: 122px;
  }

  .hero p {
    width: 920px;
    height: 98px;
  }

  .cards-container {
    width: 144rem;
  }

  .card {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    width: 90%;
    margin-left: 30px;
  }

  .card#special {
    flex-direction: row-reverse;
  }

  .card .card-image,
  .card#special .card-image {
    width: 544px;
    height: 448px;
    top: 24px;
  }

  .about-content .container h2 {
    width: 447px;
    height: 114px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .card #text-grid,
  .card#special #text-grid {
    margin-top: 45px;
    margin-left: 30px;
  }

  .card #text-grid h2,
  .card#special #text-grid h2 {
    width: 496px;
    height: 46px;
  }

  .about-content .container p {
    width: 447px;
    height: 102px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
  }

  .contact .contact-div .contact-text p {
    width: 569px;
    height: 102px;
    margin: auto;
  }

  .card #text-grid .tags p,
  .card#special #text-grid .tags p {
    width: 75px;
    height: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .card #text-grid .tags span,
  .card#special #text-grid .tags span {
    width: 75px;
    height: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    inline-size: auto;
  }

  .card #text-grid .description,
  .card#special #text-grid .description {
    width: 496px;
    height: 50px;
  }

  .card #text-grid .technologies,
  .card#special #text-grid .technologies {
    margin-top: 45px;
  }

  .card #text-grid button,
  .card#special #text-grid button {
    margin-top: 66px;
    margin-left: -165px;
  }

  .about {
    width: 144rem;
  }

  .about-content {
    display: grid;
    grid-template-columns: auto auto;
    padding: 182px;
    border: 1px solid #dfe1e6;
    border-top-right-radius: 50px;
    width: 100%;
    border-bottom-color: white;
  }

  .about-content .skill-container .languages h3 {
    height: 24px;
    right: 78px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    color: #344563;
  }

  .about-content .skill-container .language {
    width: 122px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
    flex-direction: column;
    display: inline-block;
  }

  .contact {
    background-image: url("./img/contact_form_desktop.png");
    width: 144rem;
  }

  .contact .contact-div {
    display: contents;
  }

  .contact .contact-div .contact-h1 {
    align-self: center;
  }

  .contact .contact-div .form {
    align-self: center;
  }

  .contact .contact-div .form .form-fieldset {
    padding: 35px;
    margin-left: 105px;
  }

  .contact .contact-div .form .form-fieldset fieldset {
    width: 447px;
  }

  .contact .contact-div .form .button {
    align-self: center;
  }
}

@media screen and (max-width: 425px) {
  header i {
    visibility: visible;
    margin-left: 244px;
  }

  header #sections {
    visibility: hidden;
  }

  .hero {
    background-image: url("./img/hero.png");
    width: 66rem;
  }

  .hero h1 {
    width: 327px;
    height: 150px;
  }

  .hero p {
    width: 327px;
    height: 146px;
  }

  .hero span {
    line-height: 162px;
  }

  .hero .social-media {
    margin-top: -54px;
  }

  .cards-container {
    width: 66rem;
  }

  .card,
  .card#special {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 12px;
    width: 327px;
    height: 552px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-left: 118px;
  }

  .card .card-image,
  .card#special .card-image {
    width: 295px;
    height: 220px;
  }

  .about-content .container h2 {
    width: 327px;
    height: 101px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .card #text-grid,
  .card#special #text-grid {
    margin-top: -9px;
    margin-left: 6px;
  }

  .card #text-grid .click,
  .card#special #text-grid .click {
    margin: 7.2rem;
    margin-left: auto;
  }

  .card #text-grid .technologies,
  .card#special #text-grid .technologies {
    margin-top: -9px;
  }

  .card #text-grid h2,
  .card#special #text-grid h2 {
    width: 295px;
    height: 36px;
  }

  .card #text-grid .description,
  .card#special #text-grid .description {
    width: 295px;
    height: 76px;
  }

  .card #text-grid .tags,
  .card#special #text-grid .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 236px;
    height: 32px;
  }

  .about-content .container p {
    width: 327px;
    height: 144px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
  }

  .contact .contact-div .contact-text p {
    width: 327px;
    height: 102px;
  }

  .card #text-grid .tags p,
  .card#special #text-grid .tags p {
    width: 55px;
    height: 16px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }

  .card #text-grid .tags span,
  .card#special #text-grid .tags span {
    width: 88px;
    height: 16px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    inline-size: auto;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    padding: 182px;
    border: 1px solid #dfe1e6;
    border-radius: 0 80px 0 0;
    width: 66rem;
    gap: 12px;
    border-bottom-color: white;
  }

  .about-content .container {
    margin: -32px -145px;
  }

  .about-content .skill-container {
    margin: 60px -145px;
  }

  .about-content .skill-container .languages h3 {
    height: 24px;
    right: 78px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    color: #344563;
  }

  .about-content .skill-container .language {
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    display: flex;
    flex-direction: inherit;
  }

  .contact {
    background-image: url("./img/contact_form_mobile.png");
    border: 1px;
    background-position: right;
    width: 66rem;
  }

  .contact .contact-div {
    display: flex;
    margin-left: 15px;
  }

  .contact .contact-div .contact-h1 {
    align-items: center;
    margin-left: 100px;
  }

  .contact-text {
    margin-right: 17px;
    align-self: center;
  }

  .contact .contact-div .form {
    align-self: auto;
    margin-left: 57px;
  }

  .contact .contact-div .form .form-fieldset {
    padding: 45px;
    margin-left: -6px;
  }

  .contact .contact-div .form .form-fieldset fieldset {
    width: 447px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    width: 290rem;
  }

  .about {
    width: 290rem;
  }

  .about-content {
    padding-left: inherit;
  }

  .cards-container {
    width: 290rem;
  }

  .card {
    margin-left: 120px;
  }

  .contact {
    width: 290rem;
  }
}

